In [55]:
import pandas as pd
import numpy as np
import ast
import time

In this notebook we will filter other datasets for restaurants for further use

In [2]:
res = pd.read_json("restaurants.json")
res.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
1,30 Eglinton Avenue W,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
1000,4 E University Dr,"{'RestaurantsTakeOut': 'True', 'RestaurantsPri...",6KgGE8B1RsR7jc9R5nuH0Q,"American (Traditional), Restaurants",Tempe,None,0,33.422192,-111.939615,Ruby Tuesday,85281,9,2.5,AZ
100003,7217 E Main St,"{'GoodForKids': 'False', 'BusinessAcceptsCredi...",88Up7GnGZkU81QUE3NuO4g,"Food, Imported Food, Nightlife, Australian, Ba...",Scottsdale,"{'Monday': '11:0-0:0', 'Tuesday': '11:0-0:0', ...",1,33.492826,-111.925476,The Billabong Watering Hole,85251,4,4.0,AZ
100004,1955 W Baseline Rd,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...",Xz-0MLew6bmKE6FXEWCSyw,"Vitamins & Supplements, Food, Specialty Food, ...",Mesa,"{'Monday': '9:0-21:0', 'Tuesday': '9:0-21:0', ...",0,33.377600,-111.877136,Hi-Health,85202,3,2.5,AZ
100005,13775 Highway 27,"{'Ambience': '{'touristy': False, 'hipster': F...",YK8aOugv9mLrzBgJKP9biA,"Beer, Wine & Spirits, Gastropubs, Canadian (Ne...",Nobleton,"{'Monday': '0:0-0:0', 'Tuesday': '12:0-23:0', ...",1,43.921109,-79.656739,The Summerhill,L0G 1T0,4,3.0,ON

In [3]:
res_id = list(res["business_id"])

Filtering tip.json

In [ ]:
tip = pd.read_json("/Users/kerimbasbug/Desktop/yelp_data/yelp_dataset/tip.json", lines = True)

In [ ]:
tip_final = pd.DataFrame()

In [ ]:
tip_final = tip[tip["business_id"].isin(res_id)]

In [ ]:
tip_final.shape

In [ ]:
tip_final.to_json("restip.json")

Filtering user.json

In [4]:
lines = list(open("/Users/kerimbasbug/Desktop/yelp_data/yelp_dataset/user.json",'r'))

In [ ]:
len(lines)

In [5]:
lines[0]

'{"user_id":"l6BmjZMeQD3rDxWUbiAiow","name":"Rashmi","review_count":95,"yelping_since":"2013-10-08 23:11:33","useful":84,"funny":17,"cool":25,"elite":"2015,2016,2017","friends":"c78V-rj8NQcQjOI8KP3UEA, alRMgPcngYSCJ5naFRBz5g, ajcnq75Z5xxkvUSmmJ1bCg, BSMAmp2-wMzCkhTfq9ToNg, jka10dk9ygX76hJG0gfPZQ, dut0e4xvme7QSlesOycHQA, l4l5lBnK356zBua7B-UJ6Q, 0HicMOOs-M_gl2eO-zES4Q, _uI57wL2fLyftrcSFpfSGQ, T4_Qd0YWbC3co6WSMw4vxg, iBRoLWPtWmsI1kdbE9ORSA, xjrUcid6Ymq0DoTJELkYyw, GqadWVzJ6At-vgLzK_SKgA, DvB13VJBmSnbFXBVBsKmDA, vRP9nQkYTeNioDjtxZlVhg, gT0A1iN3eeQ8EMAjJhwQtw, 6yCWjFPtp_AD4x93WAwmnw, 1dKzpNnib-JlViKv8_Gt5g, 3Bv4_JxHXq-gVLOxYMQX0Q, ikQyfu1iViYh8T0us7wiFQ, f1GGltNaB7K5DR1jf3dOmg, tgeFUChlh7v8bZFVl2-hjQ, -9-9oyXlqsMG2he5xIWdLQ, Adj9fBPVJad8vSs-mIP7gw, Ce49RY8CKXVsTifxRYFTsw, M1_7TLi8CbdA89nFLlH4iw, wFsNv-hqbW_F5-IRqfBN6g, 0Q1L7zXHocaUZ2gsG2XJeg, cBFgmOCBdhYa0xoFEAzp_g, VrD_AgiFvzqtlR15vir3SQ, cpE-7HK514Sr5vpSen9CEQ, F1UYelhPFB-zIKlt0ygIZg, CQAL1hvsLMCzuJf9AglsXw, 1KnY1wr15WfEWIRLB9IS6g, QWFQ-kXBiLbid-lm5Jr3dQ, nymT8liFugCrM16lTy0ZfQ, qj69bdd885heDvUPCyHd2Q, DySCZZcgbdrlHgEovk5y9w, lZMJIDuvhT9Dy4KyquLXyA, b_9Gn7wS93AoPZPR0dIJqQ, N07g1IaLh0_6sUjtiSRe4w, YdfPX_7DxSnKvvdCJ57iOw, 8GYryZPD22W7WgQ8kvMkEQ, cpQmAgOWatghp14h1pn1dQ, EnchhymLYMqftCRjqvVWmw, -JdfKhFktE7Zs9BMDFcPeQ, uWhC9eof98zPkvsalgaqJw, eyTlNDDaiPatfe6mheIZ0g, VfHq0o73aKsODvfAhwAQtg, kvD5tICngLAaQDujSFWupA, dXacwEhqi9-3_XT6JeH0Og, NfU0zDaTMEQ4-X9dbQWd9A, cTHWBdjSKbctSUIvWsgFxw, 3IEtCbSDF5t7RkZ20T6s9A, HJJXTrp6UybYyPdQ9DA0JA, JaXogQFVjzGRAeBvzamBHg, NUonfKkjS1iVqnNITtgXZg, D5vaJAYp0sOrGfsj9qvsMA, H27Ecbwwu4FGAlLgICourw, S8HrLmMiE4u8FWYWkNEoTw, Io36Y3xWQcIX9rYvPcYfXQ, J5mcqh8KxYpqjaLBNlwcig, -nTB3_08g06fD0GT8AtDBQ, wMpFA46lihK8oFns_5p65A, RZGFJHeomGJCWp3xcL3ejA, ZoQSzzXoSP1RxOD4Amv9Bg, qzM0EB0SkuuGIFv0adjQAQ, HuM6vvuveken-fPZ7d4olA, H3oukHpGpn9n_mJwSDSQyQ, PkmsJsQ8FIZe8eh8c_u96g, wSByVbwME4MzgkJaFyfvNg, YEVqknoDmrHAoUbHX0nPnA, li3vsK1XAPmeJYAUTYflHQ, MKc8yXi0glbPYt0Qb4PECw, fQPH6W9fksi27gkuUPnFaA, amrCMrDsoRetYFg2kwwdFA, 84dVQ6n6r2ezNaTuc7RkKA, yW9QjWY0olv5-uRKv3t_Kw, 5XJDj7c3eoidfQ3jW18Zgw, txSc6a6pIDctvwyBeu7Aqg, HFbbDCyyqP9xPkUlcxeIdg, hTUv5oh2do6Z3OppPuuiJA, gSqonG9J4fNM-fl_fE71AA, pd9mgTFpBTg5F9x-MsczNg, j3VE22V2GcHiH8UZxfFLfw, NYXlMW-T-3V4Jqr4r-i0Wg, btxgAZedxX8IWhMifA7Xkg, -Hp5mPLiRJNFnyeX5Ygzag, P6-DwVg6-t2JuQwIUEk0iQ, OI2TvxYvZrAodBG_RF53Xw, bHxf_VPKmZur1Bier-6A2A, Et_Sb39cVm81_Xe9HDM8ZQ, 5HwGl2UyYbaRq8aD6YC-fA, ZK228WMcCKLo5thcjD7rdw, iTf8wojwfm0NOi7dOiz3Nw, btYRxQYNJjpecflNHtFH0A, Kgo42FzpW_dXFgDKoewbtg, MNk_1Q_dqOY3xxHZKeO8VQ, AlwD504T9k0m5lkg3k5g6Q","fans":5,"average_stars":4.03,"compliment_hot":2,"compliment_more":0,"compliment_profile":0,"compliment_cute":0,"compliment_list":0,"compliment_note":1,"compliment_plain":1,"compliment_cool":1,"compliment_funny":1,"compliment_writer":2,"compliment_photos":0}\n'

In [13]:
s = lines[0][1:-2].split(",")
user_id = s[0].split(":")[1][1:-1]

'l6BmjZMeQD3rDxWUbiAiow'

In [15]:
name = s[1].split(":")[1][1:-1]

'Rashmi'

In [51]:
ave_star = lines[0].split(":")[13].split(",")[0]

'4.03'

In [47]:
friends = lines[0].split(":")[11][1:-8].split(",")
friends

['c78V-rj8NQcQjOI8KP3UEA',
 ' alRMgPcngYSCJ5naFRBz5g',
 ' ajcnq75Z5xxkvUSmmJ1bCg',
 ' BSMAmp2-wMzCkhTfq9ToNg',
 ' jka10dk9ygX76hJG0gfPZQ',
 ' dut0e4xvme7QSlesOycHQA',
 ' l4l5lBnK356zBua7B-UJ6Q',
 ' 0HicMOOs-M_gl2eO-zES4Q',
 ' _uI57wL2fLyftrcSFpfSGQ',
 ' T4_Qd0YWbC3co6WSMw4vxg',
 ' iBRoLWPtWmsI1kdbE9ORSA',
 ' xjrUcid6Ymq0DoTJELkYyw',
 ' GqadWVzJ6At-vgLzK_SKgA',
 ' DvB13VJBmSnbFXBVBsKmDA',
 ' vRP9nQkYTeNioDjtxZlVhg',
 ' gT0A1iN3eeQ8EMAjJhwQtw',
 ' 6yCWjFPtp_AD4x93WAwmnw',
 ' 1dKzpNnib-JlViKv8_Gt5g',
 ' 3Bv4_JxHXq-gVLOxYMQX0Q',
 ' ikQyfu1iViYh8T0us7wiFQ',
 ' f1GGltNaB7K5DR1jf3dOmg',
 ' tgeFUChlh7v8bZFVl2-hjQ',
 ' -9-9oyXlqsMG2he5xIWdLQ',
 ' Adj9fBPVJad8vSs-mIP7gw',
 ' Ce49RY8CKXVsTifxRYFTsw',
 ' M1_7TLi8CbdA89nFLlH4iw',
 ' wFsNv-hqbW_F5-IRqfBN6g',
 ' 0Q1L7zXHocaUZ2gsG2XJeg',
 ' cBFgmOCBdhYa0xoFEAzp_g',
 ' VrD_AgiFvzqtlR15vir3SQ',
 ' cpE-7HK514Sr5vpSen9CEQ',
 ' F1UYelhPFB-zIKlt0ygIZg',
 ' CQAL1hvsLMCzuJf9AglsXw',
 ' 1KnY1wr15WfEWIRLB9IS6g',
 ' QWFQ-kXBiLbid-lm5Jr3dQ',
 ' nymT8liFugCrM16lTy0ZfQ',
 ' qj69bdd885heDvUPCyHd2Q',
 ' DySCZZcgbdrlHgEovk5y9w',
 ' lZMJIDuvhT9Dy4KyquLXyA',
 ' b_9Gn7wS93AoPZPR0dIJqQ',
 ' N07g1IaLh0_6sUjtiSRe4w',
 ' YdfPX_7DxSnKvvdCJ57iOw',
 ' 8GYryZPD22W7WgQ8kvMkEQ',
 ' cpQmAgOWatghp14h1pn1dQ',
 ' EnchhymLYMqftCRjqvVWmw',
 ' -JdfKhFktE7Zs9BMDFcPeQ',
 ' uWhC9eof98zPkvsalgaqJw',
 ' eyTlNDDaiPatfe6mheIZ0g',
 ' VfHq0o73aKsODvfAhwAQtg',
 ' kvD5tICngLAaQDujSFWupA',
 ' dXacwEhqi9-3_XT6JeH0Og',
 ' NfU0zDaTMEQ4-X9dbQWd9A',
 ' cTHWBdjSKbctSUIvWsgFxw',
 ' 3IEtCbSDF5t7RkZ20T6s9A',
 ' HJJXTrp6UybYyPdQ9DA0JA',
 ' JaXogQFVjzGRAeBvzamBHg',
 ' NUonfKkjS1iVqnNITtgXZg',
 ' D5vaJAYp0sOrGfsj9qvsMA',
 ' H27Ecbwwu4FGAlLgICourw',
 ' S8HrLmMiE4u8FWYWkNEoTw',
 ' Io36Y3xWQcIX9rYvPcYfXQ',
 ' J5mcqh8KxYpqjaLBNlwcig',
 ' -nTB3_08g06fD0GT8AtDBQ',
 ' wMpFA46lihK8oFns_5p65A',
 ' RZGFJHeomGJCWp3xcL3ejA',
 ' ZoQSzzXoSP1RxOD4Amv9Bg',
 ' qzM0EB0SkuuGIFv0adjQAQ',
 ' HuM6vvuveken-fPZ7d4olA',
 ' H3oukHpGpn9n_mJwSDSQyQ',
 ' PkmsJsQ8FIZe8eh8c_u96g',
 ' wSByVbwME4MzgkJaFyfvNg',
 ' YEVqknoDmrHAoUbHX0nPnA',
 ' li3vsK1XAPmeJYAUTYflHQ',
 ' MKc8yXi0glbPYt0Qb4PECw',
 ' fQPH6W9fksi27gkuUPnFaA',
 ' amrCMrDsoRetYFg2kwwdFA',
 ' 84dVQ6n6r2ezNaTuc7RkKA',
 ' yW9QjWY0olv5-uRKv3t_Kw',
 ' 5XJDj7c3eoidfQ3jW18Zgw',
 ' txSc6a6pIDctvwyBeu7Aqg',
 ' HFbbDCyyqP9xPkUlcxeIdg',
 ' hTUv5oh2do6Z3OppPuuiJA',
 ' gSqonG9J4fNM-fl_fE71AA',
 ' pd9mgTFpBTg5F9x-MsczNg',
 ' j3VE22V2GcHiH8UZxfFLfw',
 ' NYXlMW-T-3V4Jqr4r-i0Wg',
 ' btxgAZedxX8IWhMifA7Xkg',
 ' -Hp5mPLiRJNFnyeX5Ygzag',
 ' P6-DwVg6-t2JuQwIUEk0iQ',
 ' OI2TvxYvZrAodBG_RF53Xw',
 ' bHxf_VPKmZur1Bier-6A2A',
 ' Et_Sb39cVm81_Xe9HDM8ZQ',
 ' 5HwGl2UyYbaRq8aD6YC-fA',
 ' ZK228WMcCKLo5thcjD7rdw',
 ' iTf8wojwfm0NOi7dOiz3Nw',
 ' btYRxQYNJjpecflNHtFH0A',
 ' Kgo42FzpW_dXFgDKoewbtg',
 ' MNk_1Q_dqOY3xxHZKeO8VQ',
 ' AlwD504T9k0m5lkg3k5g6Q']

In [53]:
num_friends = len(friends)
num_friends

99

In [66]:
lst = []
ts = time.time()
for line in lines:
    s = line[1:-2].split(",")
    user_id = s[0].split(":")[1][1:-1]
    name = s[1].split(":")[1][1:-1]
    ave_star = line.split(":")[13].split(",")[0]
    friends = line.split(":")[11][1:-8].split(",")
    num_friends = len(friends)
    add = [user_id, name, ave_star, num_friends, friends]
    lst.append(add)
te = time.time()
print(te-ts)

351.301882982254

In [67]:
df = pd.DataFrame(lst)

In [68]:
df.head()

,0,1,2,3,4
0,l6BmjZMeQD3rDxWUbiAiow,Rashmi,4.03,99,"[c78V-rj8NQcQjOI8KP3UEA, alRMgPcngYSCJ5naFRBz..."
1,4XChL029mKr5hydo79Ljxg,Jenna,3.63,1152,"[kEBTgDvFX754S68FllfCaA, aB2DynOxNOJK9st2ZeGT..."
2,bc8C_eETBWL0olvFSJJd0w,David,3.71,15,"[4N-HU_T32hLENLntsNKNBg, pSY2vwWLgWfGVAAiKQzM..."
3,dD0gZpBctWGdWo9WlGuhlA,Angela,4.85,525,"[RZ6wS38wnlXyj-OOdTzBxA, l5jxZh1KsgI8rMunm-GN..."
4,MM4RJAeH6yuaN8oZDSt0RA,Nancy,4.08,231,"[mbwrZ-RS76V1HoJ0bF_Geg, g64lOV39xSLRZO0aQQ6D..."

In [71]:
df.columns = ["user_id", "name", "ave_star", "num_friends", "friends"]

In [72]:
df.head()

,user_id,name,ave_star,num_friends,friends
0,l6BmjZMeQD3rDxWUbiAiow,Rashmi,4.03,99,"[c78V-rj8NQcQjOI8KP3UEA, alRMgPcngYSCJ5naFRBz..."
1,4XChL029mKr5hydo79Ljxg,Jenna,3.63,1152,"[kEBTgDvFX754S68FllfCaA, aB2DynOxNOJK9st2ZeGT..."
2,bc8C_eETBWL0olvFSJJd0w,David,3.71,15,"[4N-HU_T32hLENLntsNKNBg, pSY2vwWLgWfGVAAiKQzM..."
3,dD0gZpBctWGdWo9WlGuhlA,Angela,4.85,525,"[RZ6wS38wnlXyj-OOdTzBxA, l5jxZh1KsgI8rMunm-GN..."
4,MM4RJAeH6yuaN8oZDSt0RA,Nancy,4.08,231,"[mbwrZ-RS76V1HoJ0bF_Geg, g64lOV39xSLRZO0aQQ6D..."

In [73]:
df.to_json("users_filtered.json")