In [1]:
import pandas as pd
import numpy as np

In [162]:
bus = pd.read_json("/Users/kerimbasbug/Desktop/yelp_data/yelp_dataset/business.json", lines=True)
bus.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
0,2818 E Camino Acequia Drive,{'GoodForKids': 'False'},1SWheh84yJXfytovILXOAQ,"Golf, Active Life",Phoenix,None,0,33.522143,-112.018481,Arizona Biltmore Golf Club,85016,5,3.0,AZ
1,30 Eglinton Avenue W,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
2,"10110 Johnston Rd, Ste 15","{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...",gnKjwL_1w79qoiV3IC_xQQ,"Sushi Bars, Restaurants, Japanese",Charlotte,"{'Monday': '17:30-21:30', 'Wednesday': '17:30-...",1,35.092564,-80.859132,Musashi Japanese Restaurant,28210,170,4.0,NC
3,"15655 W Roosevelt St, Ste 237",None,xvX2CttrVhyG2z1dFg_0xw,"Insurance, Financial Services",Goodyear,"{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ...",1,33.455613,-112.395596,Farmers Insurance - Paul Lorenz,85338,3,5.0,AZ
4,"4209 Stuart Andrew Blvd, Ste F","{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...",HhyxOkGAM07SRYtlQ4wMFQ,"Plumbing, Shopping, Local Services, Home Servi...",Charlotte,"{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ...",1,35.190012,-80.887223,Queen City Plumbing,28217,4,4.0,NC

In [163]:
bus.shape

(192609, 14)

In [164]:
bus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192609 entries, 0 to 192608
Data columns (total 14 columns):
address         192609 non-null object
attributes      163773 non-null object
business_id     192609 non-null object
categories      192127 non-null object
city            192609 non-null object
hours           147779 non-null object
is_open         192609 non-null int64
latitude        192609 non-null float64
longitude       192609 non-null float64
name            192609 non-null object
postal_code     192609 non-null object
review_count    192609 non-null int64
stars           192609 non-null float64
state           192609 non-null object
dtypes: float64(3), int64(2), object(9)
memory usage: 20.6+ MB

In [165]:
bus.isna().sum()

address             0
attributes      28836
business_id         0
categories        482
city                0
hours           44830
is_open             0
latitude            0
longitude           0
name                0
postal_code         0
review_count        0
stars               0
state               0
dtype: int64

In [168]:
# Dropping rows with categories with None because these wont help us
bus.dropna(subset=["categories"], inplace=True)

In [169]:
bus.shape

(192127, 14)

In [172]:
# Keywords and their occurances
key_words = ["Restaurant", "Bar", "Food", "Cuisine", "Bakeries", "Steakhouse", "Cafe", "Gastro", "Dessert", "Breakfast", "Coffee & Tea", "Brunch"]
for key in key_words:
    print(key , bus[bus['categories'].str.contains(key)].shape)

Restaurant (59387, 14)
Bar (19083, 14)
Food (36527, 14)
Cuisine (55, 14)
Bakeries (3711, 14)
Steakhouse (1603, 14)
Cafe (3404, 14)
Gastro (629, 14)
Dessert (3332, 14)
Breakfast (5540, 14)
Coffee & Tea (7326, 14)
Brunch (5381, 14)

In [173]:
# Creating a new dataframe to keep restaurants
res = pd.DataFrame()
for key in key_words:
    res = res.append(bus[bus['categories'].str.contains(key)])

In [174]:
res.shape

(145978, 14)

In [175]:
# Checking repetitions
res["business_id"].value_counts()

iP0o0sxOhxLssSdME4SZvg    9
poYsvuOmVDqF4dTnjJ780A    9
_gnSt_cqn5XMmLuAhTdC4A    9
KW5edXlPGeZ0cx7MiJyamw    9
ZgPnRzWjQR5NtiauGBww7g    8
cQK9M2JAwETQnnBoYyua5A    8
sba0fwlKAZFGWWtsf5Jbwg    8
qMJyOW1FdPOf8sli8DIq_A    8
PBLU9eokea1Xzp0iC90J8g    8
QoC81Y4w5aZZ2VLI4Mxwlw    8
eXgDqKD7-sojyzh6q7PJ4g    8
tS58M3ksle_MHc_vn4VgRA    8
XP2-85idhfplo8P0Pvj_Gg    8
hoskgfXQRZXc9HV48nVFvg    8
eZxumlgPOWk50qzsjUbMOQ    8
Q_1jSgM9PQyoSmo7yyyoHA    8
lnd23oqCb7v8lt9zd4K8sg    8
RA1Jchnz3uQDg4YVHckKXQ    8
kNXx7YfgyQfxyliLd1p-dg    8
seYvTmOZGJ2IAMdfQa8pkg    8
84RdNjDKXKzqZlSlT6G6PA    8
z3bUwDC1wUPGeIB8Rt90wA    8
5RqU2YARBU69d9zK6h-fXg    8
cOJ1uIVIHCiefUyWG2wDfw    8
8D0riP6OYLoQ_pPE7Q2MNQ    8
vvUgEPZBRQLUt08FxawJnA    8
nYzCr8fcJ2ci4aiB1-hB6w    8
KFlwmysUsRUOx4-_5PQ8xA    8
vdYIg0R0ipQujO918GSkLg    8
ISgQ4us3LMZ78l1LOG_14A    7
                         ..
CQz1TCbNK6Q3iNnEmWntgw    1
hRK876bEBdPYAJKbg6pCEw    1
Lm6L1iLVooEfzViOxpp00Q    1
tBecXDdDmboDVwUu4kmOiA    1
MhFoFpLBx_Fy8gs9dlwtGA    1
AUFFJBCh6spwBFJI6SnITg    1
Yewxcf5-kbESoS5r1l-1AQ    1
oYAAc-KvuUqqFlwTuGx_hw    1
mLP-jIIRdoaYM7fJqqFurw    1
S1I7r5YvxcrTASv_t7cxAA    1
PU46ghXwFt84kGBWSaLnMg    1
iwzVhM5CirzkNS5wTxwZeA    1
bgzMrz4qzEfJ7qqNthcveA    1
anz96Ltm0hcw_wvlFM1Ihg    1
2xw-Ksu9b2jDYlZaApXcBA    1
RsOhyOHX_d3v-3tHJWgx6A    1
CfeI-Qy1KzQV4vAdvLNY7g    1
BHX0ghpo_r4lVxGRPEBIQw    1
O32_y_U6dhjfoRLpUNGyJw    1
z9lOfnUorcbWR_xS0DSeHw    1
n3K99yEe9Pc8pni8LY_egQ    1
lyTIuSgPdyRMx3l7xPzl3A    1
dY_oOCE3fU50zs97SVRlrg    1
v89mTnhtPx35o0zawjIyaQ    1
P2NNRC_fSE0ib5nX2gpJ5Q    1
RskjK-ZpTzYH_To-y7gRWA    1
c3KFC-mLHtIYDqYbUkdT4w    1
STX8NfaW_xP6YZq-wERHYg    1
pUihHVilZtpZz4FApnOvtA    1
neHvFz_Q2thklke5wJ7LiQ    1
Name: business_id, Length: 79755, dtype: int64

In [176]:
# Dropping repetitions
res.drop_duplicates("business_id", keep="first",inplace=True)

In [177]:
# Check
res["business_id"].value_counts()

ARdkHJ748cC_7_fwViQxng    1
RwZxc7vqYGOj99K1CYildQ    1
Azv56nBqwNVnFWVf9b6uyw    1
4ficqwBgX5rBsMZYby8ZuA    1
u0bWfnHYMD14wfRvSRxZZA    1
5dVHpVTdk8M5YutBNgIidA    1
WRzzYfVx79CsLjgrD3w5MQ    1
4lKF-M_3OLsk1usLPDJEFA    1
F6ScBoyzVPhuvyJUUdUZ9Q    1
6cYgq6_kSOa2SgXrjyaLZg    1
PT0N41nUD3CErvn046JEhg    1
-TjzQsimpriXVYaH3HdtQA    1
YhKcOW9-lmdKrQcyt8elCw    1
wFbncfH1aRNhF9pleXU7wA    1
rIlig6V-irV9wjKvquqNyw    1
uivpqxLmLXhuargU1f6uGQ    1
nkubaPIxnt6ZYhjKsAe3yg    1
kuvBnJc3bllm2xpuleezIw    1
Y82nxZanrGxrYWAXXKpqtA    1
REM8BezFuK4MQ6j2k1I7-Q    1
aw98-dck-2ah0j4yjYJ-Hg    1
sC7WrCOlASZEHhyXZ3hExQ    1
2m4092MsMzEHkuxodaj6-g    1
LmNKCVuSK-asJZLfwCuZXw    1
R5ZvZ97FDp2bD93CNKg-zQ    1
KoKFVOm09q5LHkHNwFIjIQ    1
O6-wzBz2Zgbat37jN_7drQ    1
cKuQzS414qVRjEcS490H9A    1
gsCOklDm1pbx3Tzo3W-mtw    1
Miag6Vn3tknpiEK1VDza8Q    1
                         ..
pyNtk4kLZh70EVxHs7gL3Q    1
yae3VHS39BBaLGBUn94sHQ    1
Wcn8ikS6DaPtpjuyewE9uQ    1
jhdrw0UTPtvNbcltt85Lcw    1
iX1kgU4_b-b6r1GN-YuLyQ    1
_XOxcQ9JzvJJaf3OTLejfQ    1
vnX6ckAHrI30SaiioGN5Eg    1
HQcel0uvg7N7KfhHJChfSQ    1
816UOVoEQM6yLiWBD7PDNQ    1
VYByx4yXYiZDeiaVVus7HQ    1
MtBEpp_txJp5OYoHGAKiAA    1
I3cB_LOD_AXS80vQYazffw    1
ZUf-zw_tS6uhoRy3UBXv5g    1
Tl2nqtPXlLbAG3qkUYVM2g    1
HBBZRHpJG3L4lXLWz910JQ    1
ubz4CaZXagQuGv2N9gFAdw    1
SP1S_ua_cd96U9OmYR-4rg    1
WulCmMT3OpYjqms71v-A2Q    1
OKZkEXzJt0XIamHRRTX-8g    1
yPcAdikNrXEsfbHNBQUjkQ    1
pL-QrHxQ0kHBDA1ZyOjGQw    1
YXyiUcnGRmIlT5JJ651z0Q    1
72Q-Gu4rye0kEMWuw7P2oQ    1
br3DuzzRsyBX9VcLWtEh_w    1
3fTI3ZQkzAugLS12_NFRag    1
Oxp-BkA_8vP8mVNRnPPmqQ    1
oLz3JuHkQqwFcmOlwq__8A    1
-HYt7RFN333ATu9UwYcKCg    1
qyRqQuEFDUY2icvGPHhvyg    1
UYf2EUbbPG-sL6sUtaIaAg    1
Name: business_id, Length: 79755, dtype: int64

In [180]:
# Checking null values
res.isna().sum()

address             0
attributes       3265
business_id         0
categories          0
city                0
hours           19335
is_open             0
latitude            0
longitude           0
name                0
postal_code         0
review_count        0
stars               0
state               0
dtype: int64

At this point we have some null values in hours and attributes columns but these columns don't matter much for us.  
From now on we will use res as our main dataframe

In [181]:
res.to_json("restaurants.json")