In [1]:
import pandas as pd
import numpy as np
import ast
import time

In this notebook we will filter our review.json file so that it only contains reviews of restaurants. This step is necessary because the size of original json file is 5.35 GB.

In [2]:
# Reading line by line
lines = list(open("/Users/kerimbasbug/Desktop/yelp_data/yelp_dataset/review.json",'r'))

Extracting info we need.

In [80]:
s = lines[0]

In [81]:
s = s[1:-2]
s = s.split(",")

In [82]:
rev = s[0].split(":")[1][1:-1]
rev

'Q1sbwvVQXV2734tPgoKj4Q'

In [83]:
user = s[1].split(":")[1][1:-1]
user

'hG7b0MtEbXx5QzbzE6C_VA'

In [84]:
bus= s[2].split(":")[1][1:-1]
bus

'ujmEBvifdJM6h6RLv4wQIg'

In [85]:
star = s[3].split(":")[1]
star

'1.0'

In [86]:
text = lines[2].split(":")[-4][1:-8]
text

"I have to say that this office really has it together, they are so organized and friendly!  Dr. J. Phillipp is a great dentist, very friendly and professional.  The dental assistants that helped in my procedure were amazing, Jewel and Bailey helped me to feel comfortable!  I don't have dental insurance, but they have this insurance through their office you can purchase for $80 something a year and this gave me 25% off all of my dental work, plus they helped me get signed up for care credit which I knew nothing about before this visit!  I highly recommend this office for the nice synergy the whole office has!"

In [87]:
lst = []
ts = time.time()
for line in lines:
    s = line[1:-2].split(",")
    rev = s[0].split(":")[1][1:-1]
    user = s[1].split(":")[1][1:-1]
    bus= s[2].split(":")[1][1:-1]
    star = s[3].split(":")[1]
    text = line.split(":")[-4][1:-8]
    add = [rev, user, bus, star, text]
    lst.append(add)
te = time.time()
print(te-ts)

2739.129379749298

In [88]:
df = pd.DataFrame(lst)
df.columns = ["review_id", "user_id", "business_id", "star", "text"]
df.head()

,review_id,user_id,business_id,star,text
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,Total bill for this horrible service? Over $8G...
1,GJXCdrto3ASJOqKeVWPi6Q,yXQM5uF2jS6es16SJzNHfg,NZnhc2sEQy3RmzKTZnqtwQ,5.0,I *adore* Travis at the Hard Rock's new Kelly ...
2,2TzJjDVDEuAW6MR5Vuc1ug,n6-Gk65cPZL6Uz8qRm3NYw,WTqjgwHlXbSFevF32_DJVw,5.0,I have to say that this office really has it t...
3,yi0R0Ugj_xUx_Nek0-_Qig,dacAIZ6fTM6mqwW5uxkskg,ikCg8xy5JIg_NGPx-MSIDA,5.0,Went in for a lunch. Steak sandwich was delici...
4,11a8sVPMUFtaC7_ABRkmtw,ssoyf2_x0EQMed6fgHeMyQ,b1b1eb3uo-w561D0ZfCEiQ,1.0,Today was my second out of three sessions I ha...

In [89]:
df.head()

,review_id,user_id,business_id,star,text
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,Total bill for this horrible service? Over $8G...
1,GJXCdrto3ASJOqKeVWPi6Q,yXQM5uF2jS6es16SJzNHfg,NZnhc2sEQy3RmzKTZnqtwQ,5.0,I *adore* Travis at the Hard Rock's new Kelly ...
2,2TzJjDVDEuAW6MR5Vuc1ug,n6-Gk65cPZL6Uz8qRm3NYw,WTqjgwHlXbSFevF32_DJVw,5.0,I have to say that this office really has it t...
3,yi0R0Ugj_xUx_Nek0-_Qig,dacAIZ6fTM6mqwW5uxkskg,ikCg8xy5JIg_NGPx-MSIDA,5.0,Went in for a lunch. Steak sandwich was delici...
4,11a8sVPMUFtaC7_ABRkmtw,ssoyf2_x0EQMed6fgHeMyQ,b1b1eb3uo-w561D0ZfCEiQ,1.0,Today was my second out of three sessions I ha...

In [1]:
df.to_json("reviewswithtext.json")

NameError: name 'df' is not defined

In [15]:
df.to_json("reviews.json")

In [5]:
rev = pd.read_json("reviews.json")

In [12]:
rev.shape

(6685900, 4)

In [10]:
res = pd.read_json("restaurants.json")
res.head()

,address,attributes,business_id,categories,city,hours,is_open,latitude,longitude,name,postal_code,review_count,stars,state
1,30 Eglinton Avenue W,"{'RestaurantsReservations': 'True', 'GoodForMe...",QXAEGFB4oINsVuTFxEYKFQ,"Specialty Food, Restaurants, Dim Sum, Imported...",Mississauga,"{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W...",1,43.605499,-79.652289,Emerald Chinese Restaurant,L5R 3E7,128,2.5,ON
1000,4 E University Dr,"{'RestaurantsTakeOut': 'True', 'RestaurantsPri...",6KgGE8B1RsR7jc9R5nuH0Q,"American (Traditional), Restaurants",Tempe,None,0,33.422192,-111.939615,Ruby Tuesday,85281,9,2.5,AZ
100003,7217 E Main St,"{'GoodForKids': 'False', 'BusinessAcceptsCredi...",88Up7GnGZkU81QUE3NuO4g,"Food, Imported Food, Nightlife, Australian, Ba...",Scottsdale,"{'Monday': '11:0-0:0', 'Tuesday': '11:0-0:0', ...",1,33.492826,-111.925476,The Billabong Watering Hole,85251,4,4.0,AZ
100004,1955 W Baseline Rd,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...",Xz-0MLew6bmKE6FXEWCSyw,"Vitamins & Supplements, Food, Specialty Food, ...",Mesa,"{'Monday': '9:0-21:0', 'Tuesday': '9:0-21:0', ...",0,33.377600,-111.877136,Hi-Health,85202,3,2.5,AZ
100005,13775 Highway 27,"{'Ambience': '{'touristy': False, 'hipster': F...",YK8aOugv9mLrzBgJKP9biA,"Beer, Wine & Spirits, Gastropubs, Canadian (Ne...",Nobleton,"{'Monday': '0:0-0:0', 'Tuesday': '12:0-23:0', ...",1,43.921109,-79.656739,The Summerhill,L0G 1T0,4,3.0,ON

In [11]:
res_id = list(res["business_id"])

In [13]:
rev_final = rev[rev["business_id"].isin(res_id)]

In [14]:
rev_final.shape

(4730304, 4)

In [18]:
rev_final = rev_final.reset_index()

In [20]:
rev_final = rev_final.drop("index", axis=1)

In [22]:
rev_final.head()

,review_id,user_id,business_id,star
0,kbtscdyz6lvrtGjD1quQTg,FIk4lQQu1eTe2EpzQ4xhBA,8mIrX_LrOnAqWsB5JrOojQ,4
1,M7kxoRDnbGdGmPmmGmGnog,LdYJlllsD2fPkBhycioj3Q,MpmFFw0GE_2iRFPdsRpJbA,5
2,W8Fk4mU_UFWGLu6ygF-e8g,ZH2BsTXtOrzgNLFGDFsogA,OzRGWW5R05kC0pQyUHX3lg,3
3,mvO6VnNEAxcG2qcRYhiQjQ,0sNAZ--Oh_bXbS-Fff8Gog,d10IxZPirVJlOSpdRZJczA,5
4,Bpz-hVK4ofhAgHg0D63Q4g,Mn7qL2rLZvtqLdBg7-iPsQ,VRwT0pscR5vESCrAnUpNwQ,4

In [23]:
rev_final.to_json("resreview.json")